body {
    margin: 0;
}

html{
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-family: Montserrat;
    background-color: #2E0152;
}

header a{
    text-decoration: none;
    color: #03C5CD
}

#navMenu {
    gap: 24px;
    display: flex;
}

#logocorner {
    display: block;
    width: 180px;
    height: auto;
}

.titletext {
    font-family: Montserrat;
    color:#2E0152;
    font-size: 300%;
    margin-bottom: 0%;
    font-weight: bold;
}

.titlesubtext{
    font-family: Montserrat;
    color:#2E0152;
    font-size: 150%;
}

#cqcBadge {
    width: 18%;
    border-radius: 8%;
}

#mainHero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #03C5CD;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.heroImg{
  width: 40%;
  height: auto;
  display: block;
  margin-top: 2%;
}

#textwithinHero{
    align-self: flex-start;
}

button{
    background-color:#2E0152;
    color: white;
    border-radius: 4px;
    font-family: Inter;
    padding: 0.3% 1%;
    font-size: 110%;
}

.fourtiles {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.info-card{
    background-color: #2E0152;
    border: 1px solid #03C5CD;
    border-radius: 12px;
    padding: 3%;
    color: #03C5CD;
    font-family: Manrope;
   
}

.info-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(59, 13, 83, 0.06);
  border-color: 2% rgb(176, 227, 99);
}
